/%h3 Challenge
%p
  This step is the beginning of Phase 2. 
%p
  Now that you can view your 3 week baseline, we challenge you to reduce your driving impact by 10% over the next 3 weeks. Compared to your baseline, you’re challenged to drive 10% less (reduce your distance) and 10% better (reduce your gas consumption).
%p
  You can accomplish this through any number of ways. Take public transit or the train once a week, make sure your car’s tires are properly inflated, carpool with some colleagues, pull out your bike, slow down when driving to reduce your speed, walk to do some errands or shopping, teleconference and work from home a few days……the list goes on and on. There are so many things you can do to lessen your driving impact 
%p
As you proceed through the Challenge, use your personalized My Challenge page to view how each day compares against your baseline. Not only will you be able to view how you are doing, you’ll be able to see how the whole Shuttle Community of fellow Challenge drivers are doing.
%p
At the end of the 3 week Challenge you’ll be asked to complete a final 20 minute online survey. This survey will provide us with important information on your opinions after the Challenge and whether anything has changed since your first survey.
%p 
At the end of the Challenge, return your data logger to Transport Canada in the pre-paid package they provided to you

