/%h3 Baseline
%p
  As part of the Canadian Vehicle Use Study, you’ll drive for three weeks while using your data logger. During this time you should drive like you always do – go to work, go shopping, drop the kids off at school, run errands – whatever your typical driving experience is week to week. It’s that easy! 
%p
Your baseline will determine your regular distance driven and gas consumption for this 3 week period. 
%p
If you have questions about using your data logger, please visit Transport Canada’s site for 
=link_to  'online instructions', 'http://www.tc.gc.ca/eng/policy/aca-cvus-menu-2294.htm', :target=>'blank'
