/%h3 Survey
%p As part of Phase 1 we ask you to fill out an online survey to provide us with more details about you, your transit preferences and your opinions on commuting and the environment. It should take about 20 minutes to complete and you’ll need your Transport Canada reference code to begin. Take the survey now [– link to Survey Gizmo – link TBC] 