/%h3 Training
%p
  As soon as you complete your 3 week baseline (through Transport Canada’s Vehicle Use Study), you will be given access to our Eco Driver Training course as well as resources and tips on how to drive better (more efficiently) and drive less (reduced distance). All of these resources will be available through this page (Step 4: Training) and the Drive Better and Drive Less buttons below. 
%p
  The Eco Driver Training course is a 1 hour online course that must be completed in order to qualify for your rewards. Once your 3 week baseline is finished, you will have 1 week to complete the course, which can be taken at any time day or night.
%p
  The beginning of Step 4 Training will be the first time you’ll be able to view your driving baseline. By visiting your My Challenge page, you’ll be able to see how you drove each day throughout the 3 week period.
%p
  By understanding your baseline, taking the Eco Driver Training and viewing our online resources and tips, you will have the tools and knowledge you need to enter the next step → the Challenge 
%ul
  %li
    Take the Eco Driver Training [only available once baseline is complete]
  %li
    Drive Better [Only active once baseline is complete]
  %li
    Drive Less [Only active once baseline is complete]

