/%h3 Install
%p
  If you haven’t already, please install your OttoView data logger right away. 
  Either follow the instructions that accompanied your logger, or visit 
  Transport Canada’s site for 
  %a{:href=>'http://www.tc.gc.ca/eng/policy/aca-cvus-menu-2294.htm'}online instructions

