/%h3 Payout
%p
  The final step, Payout is when we say thank you and reward you for your participation and actions.
%p
  Shuttle rewards drivers for participating in the program, but provides bigger rewards for those able to change their driving behaviour and reduce their impact 
%p
  To say thank you and reward your participation, we offer participants the following
  %ul
    %li For completing Phase One (Steps 1 – 4)
    %ul
      %li Receive a $25 gas card
      %li Get entered into a draw for $1,000 in cash (courtesy of Transport Canada) 
  %ul
    %li For completing Phase Two (Step 5)
    %ul
      %li Get entered into a 2nd draw for $1,500 in cash (courtesy of Transport Canada)
%p 
  To reward you for changing your behaviour and reducing your driving impact during the Challenge
  %ul 
    %li Reduce your driving impact by 5% or more (in both distance and gas consumption)
    %ul
      %li Receive a $10 gas card 
  %ul 
    %li Reduce your driving impact by 10% or more (in both distance and gas consumption) 
    %ul
      %li Receive a $25 gas card  
      %li Get entered into a draw for $2,500
