.row-fluid
  .span12
    .s-mc-banner
      .span3
      .span9{style:"text-align:center;text-transform: uppercase;font-size:10pt;"} 
        Welcome to your My Challenge page! Here are the steps to get you started and work your way through Shuttle. Please note that each step must be completed to qualify for your rewards
      %a{:href=>'/pages/challenge?s=0'}
        %img{:src=>'/assets/challenge/banner-clickable.gif'}
