/header
.row-fluid
  .span6.pull-right{style: "min-height: 55px;"}
    .test1
      welcome text
.row-fluid
  .span12
    .test2{style: "min-height: 50px;"}
      my challenge image
.row-fluid
  .span3.pull-right
    .test3{style: "min-height: 30px;"}
      buttons  
