%h4 This is your personal My Challenge page. 
%p Above you can see the 6 steps necessary to completing Shuttle and qualifying for your rewards. Select any of these steps to see more information about what’s required.
%ul
  %ul.unstyled
    %li 
      %b Step 1.
      Install – ensure your data logger is properly installed in your car
      %br 
      %b Step 2.
      Baseline – drive for 3 weeks while using your data logger
      %br 
      %b Step 3.
      Survey – complete an online survey anytime during your 3 week Baseline
      %br 
      %b Step 4.
      Training – get tools and knowledge so you can try to beat your baseline
      %br 
      %b Step 5.
      Challenge – we challenge you to beat your baseline by 10%
      %br 
      %b Step 6.
      Payout – we reward you for participating AND if you achieve your 10% goal

%p Depending on your start date, there are different milestones as you progress through Shuttle. There are three start dates: Monday October 8,  Monday October 15 or Monday October 22. Find your start date below and then move across your row to see the key dates for each step.

.span12{style:"margin-left:0px;margin-bottom:10px;"}
  %table{:border=>1, style:"width:700px;border:1;padding:0px;text-align:center;"}
    %tr
      %th{style:"width:8%;"} Your Steps  
      %th{style:"width:12%;"} Your Start Date 
      %th{style:"width:12%;"}  1: Install  
      %th{style:"width:12%;"}  2: Baseline 
      %th{style:"width:12%;"}  3: Survey 
      %th{style:"width:12%;"}  4: Training 
      %th{style:"width:12%;"}  5: Challenge  
      %th{style:"width:12%;"}  6: Payout
    %tr
      %td{:rowspan=>3} Your Dates  
      %td Oct 8   
      %td Complete by Oct 7   
      %td Oct 8 to 29 
      %td Oct 8 to 29   
      %td Oct 30 to Nov 5   
      %td Nov 6 to 26 
      %td After Nov 27      
    %tr
      %td Oct 15   
      %td Complete by Oct 14   
      %td Oct 15 to Nov 5 
      %td Oct 15 to Nov 5   
      %td Nov 6 to Nov 12   
      %td Nov 13 to Dec 3 
      %td After Dec 4
    %tr
      %td Oct 22 
      %td Complete by Oct 21   
      %td Oct 22 to Nov 11 
      %td Oct 22 to Nov 11   
      %td Nov 12 to Nov 18  
      %td Nov 20 to Dec 9
      %td After Dec 10    
      
%p Once you complete your Baseline visit your My Challenge page to view how far you drove and how much gas you consumed during your baseline. As you move through Step 5 Challenge, keep coming back to this page to see how each day of driving compares against your baseline.  
 

