
             
.row-fluid
  .span12
    .div
      %a{"data-toggle" => "modal", :href => pages_how_shuttle_works_path} 
        %img{src: "/assets/home-page/hp-image-buttons1.png"}
      %a{"data-toggle" => "modal", :href => pages_value_of_shuttle_path} 
        %img{src: "/assets/home-page/hp-image-buttons2.png"}
      %a{"data-toggle" => "modal", :href => pages_rewards_path} 
        %img{src: "/assets/home-page/hp-image-buttons3.jpg"}
 

    