.row-fluid
  .s-framing-content-supporters
    %h3 SUPPORTERS
    .row-fluid{style:"margin-bottom:20px;padding:0px;"}
      .span2
        =link_to(image_tag('/assets/home-page/hp-sup-taf.png', alt: 'Toronto Atmospheric Fund'), 'http://www.toronto.ca/taf', :target=>'blank')
      .span2
        =link_to(image_tag('/assets/home-page/hp-sup-oce.png', alt: 'Ontario Centres of Excellence'), 'http://www.oce-ontario.org', :target=>'blank')
      .span2
        =link_to(image_tag('/assets/home-page/hp-sup-arc.png', alt: 'Auto Recyclers of Canada'),'http://www.autorecyclers.ca/',:target=>'blank')
      .span2
        =link_to(image_tag('/assets/home-page/hp-sup-uoft.png', alt: 'University of Toronto Department of Civil Engineering'), 'http://www.civil.engineering.utoronto.ca/staff/professors/khandker.htm', :target=>'blank')
      .span2
        =link_to(image_tag('/assets/home-page/hp-sup-gcomm.png', alt: 'Green Communities Canada'), 'http://www.greencommunitiescanada.org', :target=>'blank')
      .span2
        =link_to(image_tag('/assets/home-page/hp-sup-greenowl.png', alt: 'GreenOwl Mobile'), 'http://greenowlmobile.com', :target=>'blank')
      
