/ How Shuttle Works - detail from popup.
%a{name:'how'} 
%h3 How Shuttle Works 

%h4
  %font{style:"color:red;"} 
    Phase One – Transport Canada’s Canadian Vehicle Use Study  
%ul.unstyled
  %li
    %font{style:"font-weight:bold;"} 
      1. Register
    %ul
      %li If you received a letter from Transport Canada, register now for their Vehicle Use Study to be automatically entered into the Shuttle Challenge happening this fall, 2012. "
      %li Once registered, you’ll receive the OttoView, a Canadian-made, electronic data logger to use in the Study and Challenge. The data logger plugs into a small data port standard on any vehicle built since 1996.  The logger is safe and extremely simple to use, requiring only a few minutes to install and then a few seconds to operate each time you drive your vehicle. "
  %p
  %li
    %font{style:"font-weight:bold;"} 
      2.  Measure
    %ul
      %li Complete an online survey. This survey is to help provide qualitative data about participant drivers and should take about 20 minutes to complete
      %li For 3 weeks, as part of Transport Canada’s Vehicle Use Study, drive while using the data logger to identify a regular driving "baseline. During this time you’ll drive just like you always do – drive to work, drop your kids off at school, do your shopping, run errands – whatever your regular driving entails"
%h4
  %font{style:"color:red;"} Phase Two – Shuttle Challenge
%ul.unstyled   
  %li
    %font{style:"font-weight:bold;"} 
      3.  Get the Tools
    %ul
      %li 
        With the Study and your baseline complete, take our free online 1 hour Eco Driver Training class for tips and suggestions on how to drive better (more efficiently) and drive less (reduced distance)"
      %li 
        Use the personalized My Challenge page (located here on our website) to view your 3 week driving baseline and then plan to drive better and drive less during the Challenge in Phase Two"
  %p
  %li
    %font{style:"font-weight:bold;"} 
      4.  The Challenge 
    %ul
      %li 
        Now that you have a driving baseline, we challenge you to reduce your driving impact by 10% over the next 3 weeks. Compared to your baseline, you’re encouraged to drive 10% less (reduced distance) and 10% better (reduce your gas consumption)  
      %li 
        Use your personalized My Challenge page to view how each day of your Challenge compares against your baseline 
      %li 
        At the end of the 3 week Challenge you’ll complete a final 20 minute online survey
      %li 
        You’ll then return your data logger to Transport Canada in a pre-paid package provided to you

  %p
  %li
    %font{style:"font-weight:bold;"}  
      5. Be Rewarded
    %ul.unstyled
      %li 
        To say thank you and reward your participation, we offer the following
    %ul
      %li 
        For completing Phase One 
        %ul
          %li 
            Receive a $25 gas card
          %li 
            Get entered into a draw for $1,000 in cash (courtesy of Transport Canada) 
          
      %li 
        For completing Phase Two
        %ul
          %li Get entered into a 2nd draw for $1,500 in cash (courtesy of Transport Canada)
      %ul
  %ul.unstyled
    %li
      To reward you for achieving a reduction during your driving Challenge
  %ul
    %li 
      Reduce your driving impact by 5%
      %ul
        %li Receive a gas gift card for $10
          
    %li 
      Reduce your driving impact by 10% during the Challenge in Phase Two 
      %ul
        %li Receive another$25 gas card ($10 for 5% reduction)
        %li Get entered into a draw for $2,500

  %p
  %li
    %font{style:"font-weight:bold;"}
      6. Drive Change 
    %ul.unstyled
      %li
        We’ll use the data and feedback collected to start a wider conversation and be a catalyst for improvements in our transportation systems.
  %p 
  %p As the program grows and gathers more participants, Shuttle will move toward scale, with the intention to create a behaviour shift amongst an increasing percentage of Ontario commuters, concurrent with infrastructure investment initiatives within the GTHA. 
  %p Over the long-term, Shuttle will become a catalyst for improvements to health, resilient communities, safety and the environment. This will result in a decrease in required government spending attributed to impact mitigation and the implementation of a more effective transportation system. Shuttle will become a public service model for behaviour change as well as a social enterprise model, leveraging the value of data for social good.
