/detail page from pop up box.
%h4 
  %font{style:"color:red;"}Phase One – Canadian Vehicle Use Study (CVUS)
%ol
  %li Register - Register now to receive your in-vehicle data logger from Transport Canada

  %li Measure Baseline –Drive normally for 3 weeks as part of the CVUS and complete an online survey in preparation for Shuttle Challenge
%h4
  %font{style:"color:red;"}Phase Two – Shuttle Challenge
%ol  
  %li{value:"3"} Get the Tools – Take our free online Eco Driver Training class to drive better and drive less 

  %li The Challenge –  For the next 3 weeks, we challenge you to drive 10% less (reduced distance) and 10% better (reduced gas consumption). Check the website daily to see how you’re doing.
  %li Get Rewards – Receive a $25 gas card and get entered into cash draws. Receive even more for achieving your 10% goal!
  %li Drive Change - We’ll use the data you provide us to inform policies that reduce gridlock and improve air quality in the Greater Toronto and Hamilton Area (GTHA)

%p 
  For More Details on 
  %a{href: "/pages/about#how"}How Shuttle Works
