/ from home
%p Shuttle rewards drivers just for participating in the program, but most importantly, we provide rewards for those who can adjust their behavior and achieve a 10% reduction in their driving impact 
%ol
  %li Receive up to $50 in gas cards!
  %li Get entered into draws for up to $5,000 in cash!
 
%p 
  For More Details on 
  %a{href: "/pages/rewards_detail"}Shuttle Rewards
  