%a{name:"rewards"}
%h3 Rewards
%p Shuttle rewards drivers just for participating in the program, but provides bigger rewards for those able to reduce their impact 
%p To say thank you and reward your participation, we offer participants the following
%ol
  %li 
    For completing
    %em Phase One 

    %li Receive a $25 gas card
    %li Get entered into a draw for $1,000 in cash (courtesy of Transport Canada) 

  %li 
    For completing, 
    %e Phase Two

    %li Get entered into a 2nd draw for $1,500 in cash (courtesy of Transport Canada)

%p
  To reward you for achieving a reduction during the 
  %em Challenge in Phase Two
%ul
  %li 
    Reduce your driving impact by 5% or more (in both distance and gas consumed)
    %li Receive a $10 gas card
  %li 
    Reduce your driving impact by 10% or more (in both distance and gas consumed)
    %li Receive a $25 gas card 
    %li Get entered into a draw for $2,500
