%a{name:"why"}
%h3 Why Shuttle?

%p Shuttle aims to empower individual Canadians to take charge of the impact of transportation in their daily lives. Shuttle inspires, motivates action and enables change – reducing stress, time and money spent on transportation and lowering each participant’s impact on their community and the environment. Shuttle will give a voice to the individual commuter. Now is the time to have your say on which transportation system improvements are most important to you and your family.

%p Should just 10% of GTHA drivers participate in the program, we could reduce over 64,000 tonnes of greenhouse gas emissions, reduce congestion and accident rates. 

%p Information and data gathered will help to contribute to the development of a more efficient transportation system, which will eventually provide more options for Canadians to integrate into their personal transportation plan.

%p Over the long-term Shuttle will become a catalyst for improvements to health, communities, safety and the environment.  This will result in the implementation of a more effective transportation system. Shuttle will become a public service model for behaviour change as well as a social enterprise model, leveraging the value of data for social good.
