.row
  .span12
    %h1 ABOUT
    %p If you ask the average person about the biggest issue they face in urban centres, inevitably the conversation turns towards our transportation system. According to a recent GTA survey, 2/3 of people identified the commute as harmful to their quality of life. Shuttle, a program of Summerhill Impact, is the first ever public engagement program, designed to encourage people to drive less  and drive better - lowering the impact of their commute on their quality of life, health and the environment. 
    
    %p Shuttle will give you the information, tools and long-term incentives toward behaviour change in your day-to-day life. We will help you to reduce your vehicle kilometers travelled or VKTs and drive more efficiently to use less gas.
    
    %p The program will focus initially on driving behaviour within the Greater Toronto and Hamilton Area (GTHA), and features an on-board data tracking system, opinion surveys, eco-driver training and incentives to participate and take action. Participating drivers are challenged to reduce their VKTs and gas consumption by 10% as compared to their normal driving behavior.  Should the driver meet his/her 10% target, s/he will be rewarded with gas cards and other benefits.
    
    
    
    %p Shuttle Objectives:
    %ul
    
      %li To reduce Green House Gas (GHG) emissions attributed to personal transportation. 
      %li To inform an understanding of the financial, environmental and economic costs, related to driving by capturing real data on the behaviour of commuters in the GTHA
      %li To engage the public in constructive dialogue on opportunities and issues relating to developing an efficient and multimodal transportation network
    
    
    
    %p 
      =render partial: '/pages/how_shuttle_works_detail'
      =render partial: '/pages/why_shuttle_detail'
