/detail page from pop up box.
%h1 How Shuttle Works
%h2 Phase One
%ol

  %li Register - Register now to receive your in-vehicle data logger from Transport Canada

  %li Measure – Complete our online survey and drive normally for 3 weeks
  %li Get the Tools – Take our free online Eco Driver Training class to drive better and drive less 
%h2 Phase Two
%ol
  %li The Challenge –  For the next 3 weeks, we challenge you to drive 10% less (reduced distance) and 10% better (reduced gas consumption). Check the website daily to see how you’re doing and then complete a final online survey.
  %li Get rewards – Receive a $25 gas card and get entered into cash draws. Receive even more for achieving your 10% goal!
  %li Drive change - We’ll use the data and feedback collected to start a wider conversation around mobility in Ontario and to be a catalyst for improvements in our transportation systems

%p 
  For More Details on 
  %a{href: "/pages/about#how"}How Shuttle Works
