%h3 PRIVACY POLICY

%h5 Summerhill Group Inc. and Summerhill Impact (collectively “Summerhill”)

%h4 Our Privacy Commitment

%p Summerhill Group Inc. and Summerhill Impact are committed to maintaining the accuracy, security and privacy of Personal Information in accordance with applicable Canadian privacy laws.  This Privacy Policy is a statement of principles and guidelines concerning the protection of Personal Information of our customers, service providers and other individuals (“you”).

%h4 Your Consent

%p BY SUBMITTING PERSONAL INFORMATION TO SUMMERHILL AND ITS RELATED ORGANIZATION SUMMERHILL FOUNDATION OR ITS AGENTS AND SERVICE PROVIDERS, YOU AGREE THAT WE MAY COLLECT, USE AND DISCLOSE SUCH PERSONAL INFORMATION IN ACCORDANCE WITH THIS PRIVACY POLICY AND AS PERMITTED OR REQUIRED BY APPLICABLE LAWS.  Subject to legal and contractual requirements, and reasonable notice, you may refuse or withdraw your consent to certain of the identified purposes at any time by contacting Summerhill’s Chief Privacy Officer, please see contact information noted below.   If you refuse or withdraw your consent, we may not be able to provide you or continue to provide you with certain services or information which may be of value to you.   If you provide us with the personal information of another individual, you represent that you have all necessary authority and/or have obtained all necessary consents from such individual to enable us to collect, use and disclose such personal information for the purposes set forth in this Privacy Policy.

%h4 What is Personal Information?

%p Canadian privacy laws define Personal Information broadly as information about an identifiable individual or as information that allows an individual to be identified.  For the purposes of this policy, Personal Information means information about an identifiable individual as defined from time to time in applicable privacy laws. Generally speaking, Personal Information does not include what is considered to be business contact information: your name, title or position, business address or telephone number but does include your e-mail address. 

%h4 What Personal Information do we Collect?

%p The types of Personal Information that Summerhill may collect, use and disclose about you includes your name, home address, home telephone number and facsimile number, cellular telephone number, personal email address, date of birth, insurance information, payment information, contact information and possibly information gathered from you in surveys you may participate in as part of a Summerhill sponsored event for Summerhill or clients of Summerhill.

%p At times, we need to collect more personal information about you. Some of our websites might require you to register in order to log in, in which case you will be required to provide personal information about yourself to us. We might also collect your name and email address to enter you into a prize draw for a survey that you fill out on our site. We might ask you for information such as your age and occupation to better understand our visitors, and to improve your visitor experience. Typically, the information we ask for includes some of the following, but this list is not exhaustive:

%ul
  %li·       Contact details, such as your name and e-mail/ postal address.

  %li·       Basic information about you, such as age and gender.

  %li·       Other information may also be asked, when relevant, and could include information about lifestyle or the household you live in.

%p In any case, whenever we ask you for any personal information that can be used to identify you as an individual, we will always provide an explanation as to why we gather the information, how we gather it, how we store it, and how we plan on treating and using it.

%p We will only gather this information if you specifically agree to ‘opt-in’, i.e. you explicitly give us your consent to collect this information from you. We will not gather any personally identifiable information from you unless you specifically agree to provide it to us.

%p We will only gather and store personally identifiable information for the purpose stated during the gathering process. When we finish using your information, we will erase and destroy it to ensure your privacy.

%p There is always a lot of information that a company can ask you for, but Summerhill will only ask for information where there is a clear and necessary need for that information, which is clearly and adequately explained to you.

%h4 Why do we Collect your Personal Information?

%p Summerhill limits the collection, use and disclosure of your Personal Information, both in the amount and type of Personal Information, to that which is necessary to fulfill the purposes identified within this Privacy Policy.  We will identify the purposes for which your Personal Information is collected at or before the time your Personal Information is collected.

%p In general, Summerhill collects, uses and discloses Personal Information in order to provide our customers with our products and services.  More specifically, Summerhill may collect, use and disclose your Personal Information for the following purposes: 

%ul
  %li (a)            to establish and maintain commercial relations with customers, suppliers, financial institutions, and affiliates, and to provide ongoing products and services, administer accounts, make and receive payments, and fulfill contractual obligations;

  %li (b)            to understand and respond to website visitors, customers and potential customers needs and preferences, including to communicate with website visitors, customers and potential customers;

  %li (c)            to conduct surveys, promotions, research and statistical analysis;

  %li (d)            to document a person’s participation in a Summerhill program to qualify you for rewards in connection with your participation;

  %li (e)            to facilitate customer service assistance; 

  %li (f)            to distribute our newsletters, promotional information and other material to registrants that have voluntarily enrolled on our mailing list and/or e-mailing list;

  %li (g)            to develop, enhance, market, sell, provide and inform you of Summerhill’s products and services;

  %li (h)           to update and verify our databases and information provided by third parties;
  
  %li (i)             to develop and manage our databases;
  
  %li (j)             as permitted by, and to comply with, any legal or regulatory requirements or provisions; and
  
  %li (k)           for any other purpose to which you consent.
  
%h4 To Whom do we Disclose Your Personal Information?

%p We will not sell, lease or rent your Personal Information or our customer lists.

%p We collect personal information only with your consent for the purpose(s) for which you have given consent.

%p We keep your personal information, questions, and transactions with us confidential; and we employ the appropriate security safeguards.

%p However, from time to time, Summerhill may disclose your Personal Information to:

%ul
  %li (a)            The Summerhill Foundation – a registered Canadian charity affiliated with Summerhill.  In turn, Summerhill Foundation may share your name and address information with like minded organizations but only after you have been given an opportunity to decline such sharing.  The process of trading information with other like minded organizations is common and an important way for Summerhill Foundation to solicit new funds for its work.
  
  %li (b)            service providers, including an organization or individual retained by Summerhill to perform functions on its behalf, such as marketing, data processing, document management and office services;
  
  %li (c)            service providers providing offsite servers to store information;
  
  %li (d)            a person who, in the reasonable judgment of Summerhill, is providing or seeking the information as your agent;
  
  %li (e)            any other third party or parties, where you consent to such disclosure or where disclosure is required or permitted by law; and
  
  %li (f)            client organizations or groups of Summerhill who have contracted with Summerhill that require programs data collection from participants.

%h4 Where do we Store Your Personal Information?

%p Your Personal Information is stored in secured locations and on servers of third parties with whom Summerhill contracts for such storage purposes.  That service provider may in turn store data, including your Personal Information, on servers located in the U.S.A.  Summerhill retains your Personal Information only for as long as is necessary in order to fulfill the purposes identified within this Privacy Policy, or for as long as may be required to comply with applicable laws and contractual obligations of Summerhill. 

%h4 How do we Protect your Personal Information?

%p To help protect the confidentiality and security of your Personal Information, Summerhill employs administrative and technological safeguards appropriate to the sensitivity of your Personal Information.  If your Personal Information is sent to a third party for processing, we make sure, through our contracts with such third parties, that all of your Personal Information is to be kept secure.  We also operate secure data networks protected by industry standard firewall and password protection systems.  Your Personal Information is kept as accurate, complete and up-to-date as is necessary to fulfill the purposes identified in this Privacy Policy.  However, we do not routinely update your Personal Information. 

%h4 Privacy and our Website

%ul
  %li (a)            Cookies -  When an individual visitor accesses the Summerhill website, we may use a browser feature called a ‘cookie’ to collect information such as the type of Internet browser and operating system the visitor uses, the domain name of the website from which the visitor came, date and duration of the visit, number of visits, average time spent on our website, pages viewed and number of cookies accumulated.  A cookie is a small text file containing a unique identification number that identifies the visitor’s browser, but not necessarily the visitor, to our computers each time our website is visited.  Unless a visitor specifically informs us (e.g. by registering for an event or sending us correspondence from the website), we will not know who the individual visitors are.  In addition to the identified purposes described in our Privacy Policy, we may use this website information and share it with other organizations with whom we have a commercial relationship to measure the use of our website, to improve the functionality and content of the website and to facilitate usage by a visitor.  Visitors can reset their browsers either to notify them when they have received a cookie or refuse to accept cookies.  However, if a visitor refuses to accept cookies, he or she may not be able to use some of the features available on our website.

  %li (b)            Online Communications – In order to provide our website visitors with a service or information, visitors may voluntarily submit Personal Information to us for purposes such as asking a question, obtaining information, reviewing or downloading a publication, participating in a seminar or other event, and participating in surveys.  If you are known to Summerhill as a registered user of an online service, we may combine and store Personal Information about your use of our website and the online information you have provided with certain other online and offline information we may have collected. 

  %li (c)            E-Mail Communications - Occasionally, we may send marketing or promotional e-mail communications to you with information that may be useful, including information about the services of Summerhill and other third parties with whom we have a relationship.  We will include instructions on how to unsubscribe and inform us of preferences if you decide you do not want to receive any future marketing or promotional e-mails from Summerhill. 

  %li (d)            Links - Our website may contain links to other websites which are provided as a convenience only.  Visitors are advised that other third party websites may have different privacy policies and practices than Summerhill, and Summerhill has no responsibility for such third party websites.

%h4 How can you Obtain Access to Your Personal Information?

%p Upon your written request, and subject to certain exceptions, Summerhill will inform you of the existence, use, and disclosure of your Personal Information and will give you access to that information.  Access requests should be sent to Summerhill’s Chief Privacy Officer using the contact information outlined below.  

%p If access to your personal information is denied, Summerhill will notify you in writing, give reasons for the denial, and inform you of the recourses open to you.  If access is granted, Summerhill will give you a reasonable opportunity to review your Personal Information. Your Personal Information will be provided to you in an understandable form within a reasonable time, generally within 30 days.   Summerhill may extend such 30 day period by up to an additional 30 days if meeting the time limit would unreasonably interfere with the activities of Summerhill or the time required to undertake any consultations necessary to respond to your request would make the time limit impracticable to meet. You will be able to challenge the accuracy and completeness of your Personal Information and have it amended as appropriate.

%h4 How can you Obtain Further Information Regarding this Policy?

%p Summerhill has appointed Colleen Colman as its Chief Privacy Officer to oversee compliance with this Privacy Policy and applicable privacy laws. For more information on Summerhill’s privacy practices, please visit our website or contact our Chief Privacy Officer at:

%table{:align=>"center"}
  %tr
    %td Summerhill Chief Privacy Officer
  %tr
    %td 30 Commercial Rd
  %tr
    %td Toronto, Ontario
  %tr
    %td M4G 1Z4
  %tr
    %td 
      %b Tel:     (416) 922-2448
  %tr
    %td 
      %b Fax:     (416) 922-1028
  %tr
    %td 
      %b Email:             privacy@summerhillgroup.ca

%h4 Changes to our Privacy Policy

%p Summerhill reserves the right to modify or supplement this Privacy Policy at any time.  If we make a change to this Privacy Policy, we will post such changes on our website at www.summerhillgroup.ca and make such revised policy and changes available upon request to the Summerhill Chief Privacy Officer. However, Summerhill will obtain the necessary consents required under applicable privacy laws if it seeks to collect, use or disclose your Personal Information for purposes other than those for which your consent is obtained unless otherwise required or permitted by law.

%p 
  %b [NOTE: INCLUDE THE FOLLOWING PARAGRAPH ONLY ON THE WEBSITE VERSION OF THIS POLICY:]
  Changes to this Privacy Policy will be noted here so that you can be fully informed about our privacy policies and practices.   
%ul
  %ul.unstyled
    %li     Date last revised:                      June 24, 2011
    %li Description of Revision:          New and Updated Privacy Policy

%hr
