%h1 SUPPORTERS
%table{:width=>'100%'}
  %tbody
    %tr  
      %td{:border=>'1', :width=>'30%', :style=>'text-align:center;'}
        =link_to(image_tag('/assets/home-page/logo_taf.png', alt: 'Toronto Atmospheric Fund'), 'http://www.toronto.ca/taf', :target=>'blank')
      %td
        %h4 Toronto Atmospheric Fund
        %p
          Worldwide, damage due to climate change, storm damage and flooding has totalled more than $1.6 trillion since 1980, with weather-related insurance claims increasing on average by 11% per year. Meanwhile, thanks to a changing climate, it is predicted that Toronto will have hotter, drier summers — with many more days of extreme heat — along with wetter, stormier winters.
    %tr 
      %td{:width=>'30%', :style=>'text-align:center;'}
        =link_to image_tag('/assets/home-page/logo_oce.png', alt: 'Ontario Centres of Excellence'), 'http://www.oce-ontario.org', :target=>'blank'
      %td
        %h4 Ontario Centres of Excellence
        %p
          Ontario Centres of Excellence (OCE) Inc. drives the commercialization of cutting-edge research across key market sectors to build the economy of tomorrow and secure Ontario’s global competitiveness. In doing this, OCE fosters the training and development of the next generation of innovators and entrepreneurs and is a key partner with Ontario’s industry, universities, colleges, research hospitals, investors and governments. A champion of leading-edge technologies, best practices and research, OCE invests in sectors such as advanced health, digital media and information communications, advanced manufacturing and materials, and cleantech. OCE through its Centre for Commercialization of Research, an initiative supported by the federal government, also acts as a catalyst which allows innovative businesses to grow and achieve sustainable commercial success and global competitiveness. OCE is a key partner in delivering Ontario’s Innovation Agenda as a member of the province’s Ontario Network of Excellence (ONE).
    %tr    
      %td{:width=>'30%', :style=>'text-align:center;'}
        =link_to image_tag('/assets/home-page/logo_arc.png', alt: 'Auto Recyclers of Canada'),'http://www.autorecyclers.ca/', :target=>'blank'
      %td
        %h4 Auto Recyclers of Canada
        %p
          Formed in 1997 as an "association of associations", the Automotive Recyclers of Canada (ARC) is the national voice of the automotive recycling industry, providing a forum for the channelling of information and addressing Canada wide concerns. Member associations: Alberta Automotive Recyclers & Dismantlers Association (AARDA); Association des recycleurs de pièces d'autos et de camions inc. (ARPAC); Automotive Recyclers Association of Atlantic Canada (ARAAC); Automotive Recyclers Association of Manitoba (ARM); British Columbia Automotive Recyclers (B-CAR); Saskatchewan Automotive Recyclers Association (SARA); Ontario Automotive Recyclers Association (OARA).
    %tr    
      %td{:width=>'30%', :style=>'text-align:center;'}
        =link_to image_tag('/assets/home-page/logo_uoft.png', alt: 'University of Toronto Department of Civil Engineering'), 'http://www.civil.engineering.utoronto.ca/staff/professors/khandker.htm', :target=>'blank'
      %td
        %h4 University of Toronto Department of Civil Engineering
        %p
          Professor Khandker Nurul Habib works in the area of travel demand modelling, integrated land-use/transportation modelling, microsimulation, advanced econometric choice modelling and sustainable transportation planning. He applies advanced econometric approach and microeconomic theories for travel demand and integrated land use-transportation modelling. His current research is on transportation system and economic development in context of urban transformations and their impacts on peoples’ travel behaviour.
    %tr    
      %td{:width=>'30%', :style=>'text-align:center;'}
        =link_to image_tag('/assets/home-page/logo_gc.png', alt: 'Green Communities Canada'), 'http://www.greencommunitiescanada.org', :target=>'blank'
      %td
        %h4 Green Communities Canada  
        %p
          Green Communities Canada is a national association of community organizations working with homeowners, businesses, governments and communities to reduce our impact on the environment.
    %tr        
      %td{:width=>'30%', :style=>'text-align:center;'}
        =link_to image_tag('/assets/home-page/logo_go.png', alt: 'GreenOwl Mobile'), 'http://greenowlmobile.com', :target=>'blank'
      %td
        %h4 GreenOwl Mobile
        %p
          GreenOwl Mobile is a mobile technology company with a vision to provide location intelligence to make people and businesses more efficient. Our traffic monitoring application (TrafficAlert) assists commuters in planning and managing their daily drive, alerting users in real-time of traffic problems and delays. GreenOwl Mobile’s technology helps users save time and money and reduce their environmental impact.
