= #render partial: 'imessage/typography/bootstrap_examples_hero' #from twitter/bootstrap website.
= #render partial: 'imessage/typography/bootstrap_examples_fluid' #from twitter/bootstrap website.
= render partial: 'typography/bootstrap/bootstrap_typography' #based on hero (fixed width)
