/why shuttle detail - linked from why_shuttle
%h1 Why Shuttle?
%p Shuttle aims to empower individual Canadians to take charge of the impact of transportation in their daily lives. Shuttle inspires, motivates action and enables change  - reducing stress, time and money spent and lowering each person’s impact on their community and the environment.Shuttle will give a voice to the individual commuter. Now is the time to have your say on which transportation system improvements are most important to you and your family.
%p Should just 10% of GTHA drivers participate in the program, we could reduce over 64,000 tonnes of greenhouse gas emissions, reduce congestion and accident rates. 

%p Information and data gathered, will inform the decisions of mobility demand planners and private sector, product or service delivery agents, such as auto insurance companies, as Pay As You Drive (PAYD) insurance is, in and of itself, a sustainability product – providing opportunity for valuable offerings to smart commuters. Shuttle will contribute to the development of a more efficient transportation system , which will eventually provide more options for Canadians to integrate into their personal transportation plan.


%p Over the long-term Shuttle will become a catalyst for improvements to health, resilient communities, safety and the environment; resulting in a decrease in required government spending attributed to impact mitigation and the implementation of a more effective transportation system. Shuttle will become a public service model for behaviour change as well as a social enterprise model, leveraging the value of data for social good.

%p 
  For More Details on 
  %a{href: "/pages/about#why"}Why Shuttle

