/ from home
%h1 Why Shuttle
%ul
  %li or participating drivers – free eco driver training, tools and tips; rewards for participation and achieving a 10% reduction; save $ by driving more efficiently; have a voice in the transportation conversation
  %li or all drivers in the Greater Toronto and Hamilton Area – give a voice to drivers; determine ways to reduce congestion, gas consumption and improve transportation infrastructure
  %li or the environment – reduce Green House Gas emissions related to driving and transportation

%p 
  For More Details on the 
  %a{href: "/about"}Value of Shuttle


.btn.btn-primary
  = link_to "Close", root_url   
