/*
 * Color Name Definitions. Should be entire site palatte.
 * organized by what color is seen first.
 */
// Navbar

$sDoveGray: #6d6f71; // dark gray, text (darkest gray)
$sDarkGray: #a7a9ac; //background for navbar mouseover
$sWhite:    #ffffff; // text - text

// Login area
// sDarkGray

//Home Page Hero Box
$sBabyBlueEyes: #a1cee6;     // background for hp buttons
$sDesertStorm: #f8f8f8;      //gray, hero box backgroundgray12 - 
$sGainsboroGray: #dfdfdf;    // muted frame
$sCGray: #cccccc;            // hero unit border
//Conversation Sidebar
$sRichElectricBlue: #0093d1; // border,hr,text
$sBlack: #000;               // date text
//$sDarkGray - username

// Primary colors
$sCinnabar:   #ef4036;
$sShuttleRed: #ef4036;

$sPistachio: #85cc7a;         // background for callouts like GHG Saved.

//footer
$sDavysGray:  #58585a;       // dark gray used in footer text.