.row-fluid
  .span4{style: "margin-top: 30px;font-size:10pt;font-weight:normal;"}
    %a{href:'/pages/privacy', style:"font-size:10pt;font-weight:normal;"}Privacy
    ='|'
    Copyright 
    =Time.now.year 
    = link_to "Summerhill Group", "http://www.summerhillgroup.ca", :target=>'blank', :style=>"font-size:10pt;font-weight:normal;"
   
  .span4{style: "text-align:center;margin-top:30px;"}
    = link_to "Developed by GreenOwl Mobile", "http://greenowlmobile.com", :target=>'blank', :style=>"font-size:10pt;font-weight:normal;"
  .span4{style: "text-align:right;"}
    = link_to image_tag("/assets/footer/summerhill-impact.png"), "http://www.summerhillimpact.ca", :target=>'blank',:style=>"font-size:10pt;font-weight:normal;"
   